<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="component/config :: config"></th:block>
</head>
<body>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<form action="/member/save" method="post">
    <input type="text" name="memberEmail" placeholder="이메일" id="member-email" onblur="email_check()"> <br>
    <p id="check-result">
        <span id="good" style="color: green; display: none">
            사용가능한 이메일 입니다.
        </span>
        <span id="no" style="color: red; display: none">
            이미 사용중인 이메일 입니다.
        </span>
    </p>
    <input type="text" name="memberPassword" placeholder="비밀번호"> <br>
    <input type="text" name="memberName" placeholder="이름"> <br>
    <input type="date" name="memberBirth"> <br>
    <input type="text" name="memberMobile" placeholder="전화번호"> <br>
    <input type="submit" value="회원가입">
</form>
<div th:replace="component/footer :: footer"></div>
</body>
<script>
    const email_check = () => {
        document.querySelector("#good").style.display = "none";
        document.querySelector("#no").style.display = "none";
        const email = document.querySelector("#member-email").value;
        axios({
            method: "post",
            url: "/member/dup-check",
            data: {
                memberEmail: email
            }
        }).then(res => {
            // 중복되지 않은 경우
            console.log("then");
            document.querySelector("#good").style.display = "block";
        }).catch(err => {
            // 중복된 경우
            console.log("catch");
            document.querySelector("#no").style.display = "block";
        });
    }
</script>
</html>