<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>회원가입</h2>
<div th:replace="component/header :: header"></div>
<div th:replace="component/nav :: nav"></div>
<!--ㄴ replace 대체하다 -->

<form action="/member/save" method="post" name="saveForm">
    <input type="text" placeholder="이메일" name="memberEmail"> <br>
    <input type="text" placeholder="비밀번호" name="memberPassword"> <br>
    <input type="text" placeholder="이름" name="memberName"> <br>
    <input type="date" placeholder="생년월일" name="memberBirth"> <br>
    <input type="text" placeholder="전화번호" name="memberMobile"> <br>
    <input type="submit" value="회원가입">



</form>
<div th:replace="component/footer :: footer"></div>


</body>
</html>